.image-with-title-container {
    display: flex;
    margin-left: 200px;
    padding: 30px;
    justify-content: center;
  }
  
  .image-with-title-content {
    display: flex;
    align-items: center;
  }
  
  .image-with-title-img {
    width: 250px;
    height: 250px;
    margin-right: 50px;
    border-radius: 10px;
  }
  h2 {
    margin: 5px 0px;
    font-size: 34px;
  }
  
  p {
    margin: 10px 0px;
    color: aliceblue;
  }
  
  .button-container {
    display: flex;
    padding: 15px 0px;
    gap: 4rem;
  }

  .play {
    font-size: 1.2rem;
    border-radius: 2rem;
    background-color: #f9d342;
  }

  .more {
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: 2rem;
  }


  .dropdown-button {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button button {
    padding: 8px 12px;
    background-color: #eaeaea;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  
  .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown li {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .dropdown li:hover {
    background-color: #f0f0f0;
  }
  
